In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
# Dataframe data: contient toutes les infos/métriques + mda
# Dataframe counts: contient chaque mot et sa fréquence dans chaque document
data = pd.read_csv('C:/Users/Camille/Documents/Berkeley/242/final.csv')
data['d_RoE_pos']=(data['d_RoE']>0)*[1]
data['d_Net_Profit_Margin_pos']=(data['d_Net_Profit_Margin']>0)*[1]
data['d_Asset_turnover_pos']=(data['d_Asset_turnover']>0)*[1]
data['d_Financial_leverage_pos']=(data['d_Financial_leverage']>0)*[1]
data.to_csv('C:/Users/Camille/Documents/Berkeley/242/final_labeled.csv')
data.head(n=5)

,Unnamed: 0,Unnamed: 0.1,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,...,d_RoE,d_Net_Profit_Margin,d_Asset_turnover,d_Financial_leverage,filename,MDA,d_RoE_pos,d_Net_Profit_Margin_pos,d_Asset_turnover_pos,d_Financial_leverage_pos
0,0,55,1209,19970930,1997,INDL,C,D,STD,APD,...,389615.46,0.009571,0.025682,0.201784,APD_1997-12-11,ITEM MANAGEMENT S DISCUSSION AND ANALYSIS O...,1,1,1,1
1,1,56,1209,19980930,1998,INDL,C,D,STD,APD,...,352463.28,0.017396,0.016560,0.072349,APD_1998-12-16,ITEM MANAGEMENT S DISCUSSION AND ANALYSIS ...,1,1,1,1
2,2,57,1209,19990930,1999,INDL,C,D,STD,APD,...,-36519.78,-0.021897,-0.047209,-0.027173,APD_1999-12-16,ITEM Management s Discussion and Analysis ...,0,0,0,0
3,3,58,1209,20000930,2000,INDL,C,D,STD,APD,...,217706.72,0.008933,0.051468,0.150690,APD_2000-12-18,ITEM Management s Discussion and Analysis o...,1,1,1,1
4,4,59,1209,20010930,2001,INDL,C,D,STD,APD,...,137463.02,-0.012285,0.046179,-0.328546,APD_2001-12-14,ITEM Management s Discussion and Analysis ...,1,0,1,0

In [4]:
data.dropna(inplace=True)
len(data)

1722

In [5]:
print(np.float(np.sum(data['d_RoE_pos']))/len(data))
print(np.float(np.sum(data['d_Asset_turnover_pos']))/len(data))
print(np.float(np.sum(data['d_Financial_leverage_pos']))/len(data))
print(np.float(np.sum(data['d_Net_Profit_Margin_pos']))/len(data))

0.59756097561
0.552264808362
0.485481997677
0.505226480836

In [6]:
np.sum(data['fyear'].apply(pd.value_counts).fillna(0))

1994      6
1995     14
1996     28
1997     34
1998     50
1999     64
2000     79
2001     93
2002     93
2003     96
2004     91
2005     93
2006     93
2007     96
2008     92
2009    106
2010    107
2011    107
2012    105
2013    107
2014    106
2015     62
dtype: float64

In [13]:
firm=np.sum(data['tic'].apply(pd.value_counts).fillna(0))
print(firm)

AA       15
ADMGQ     5
AEPI     15
AETCQ     7
AHNCQ     6
AKS      17
ALJJ      3
AMNL      4
APD      19
APFC     14
AREM      3
AROX      1
ASH      10
ATI      15
ATMR      3
ATPL     12
ATR      18
AUMN      5
AVD      13
AVY      17
AXTA      1
AYSI      1
BCC       3
BDLS      7
BERY      2
BLL      17
BMIX      2
BMS      12
BPMI      8
CADC      7
         ..
SWM      11
SWTX      8
SXC       4
SXCP      3
SXT      16
TDYT      1
TGLS      2
TIN      17
TORM      8
TRA      13
TROX      3
UAMY      6
UFS       8
UNRG      5
USLM     17
VAL      17
VHI      14
VKSC     10
VMC       8
VULC      7
WEBC      9
WLKP      1
WMSI      5
WPP      14
X        14
XPL       8
YECO      1
ZEP       8
ZEUS     18
ZOLT      6
dtype: float64

In [21]:
firm.max()

19.0

In [22]:
firm.min()

1.0

In [33]:
firm.sort_values(ascending=False)[:10]

APD     19
SHLM    19
FRD     18
RPM     18
MLM     18
GNI     18
ZEUS    18
ATR     18
SHW     18
GEF     17
dtype: float64

In [34]:
firm.sort_values(ascending=True)[:10]

PDH     1
YECO    1
RMMI    1
WLKP    1
GRM     1
HYDI    1
AYSI    1
AXTA    1
MDOR    1
MBII    1
dtype: float64

In [36]:
firm.mean()

9.40983606557377

In [37]:
len(firm)

183

In [39]:
firm.std()

5.323729944543429