In [57]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [67]:
# Dataframe data: contient toutes les infos/métriques + mda
# Dataframe counts: contient chaque mot et sa fréquence dans chaque document
data = pd.read_csv('C:/Users/Camille/Documents/Berkeley/242/final.csv')
data['d_RoE_pos']=(data['d_RoE']>0)*[1]
data['d_Net_Profit_Margin_pos']=(data['d_Net_Profit_Margin']>0)*[1]
data['d_Asset_turnover_pos']=(data['d_Asset_turnover']>0)*[1]
data['d_Financial_leverage_pos']=(data['d_Financial_leverage']>0)*[1]
data.to_csv('C:/Users/Camille/Documents/Berkeley/242/final_labeled.csv')
data.head(n=5)

,Unnamed: 0,Unnamed: 0.1,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,...,d_RoE,d_Net_Profit_Margin,d_Asset_turnover,d_Financial_leverage,filename,MDA,d_RoE_pos,d_Net_Profit_Margin_pos,d_Asset_turnover_pos,d_Financial_leverage_pos
0,0,55,1209,19970930,1997,INDL,C,D,STD,APD,...,389615.46,0.009571,0.025682,0.201784,APD_1997-12-11,ITEM MANAGEMENT S DISCUSSION AND ANALYSIS O...,1,1,1,1
1,1,56,1209,19980930,1998,INDL,C,D,STD,APD,...,352463.28,0.017396,0.016560,0.072349,APD_1998-12-16,ITEM MANAGEMENT S DISCUSSION AND ANALYSIS ...,1,1,1,1
2,2,57,1209,19990930,1999,INDL,C,D,STD,APD,...,-36519.78,-0.021897,-0.047209,-0.027173,APD_1999-12-16,ITEM Management s Discussion and Analysis ...,0,0,0,0
3,3,58,1209,20000930,2000,INDL,C,D,STD,APD,...,217706.72,0.008933,0.051468,0.150690,APD_2000-12-18,ITEM Management s Discussion and Analysis o...,1,1,1,1
4,4,59,1209,20010930,2001,INDL,C,D,STD,APD,...,137463.02,-0.012285,0.046179,-0.328546,APD_2001-12-14,ITEM Management s Discussion and Analysis ...,1,0,1,0

In [68]:
data.dropna(inplace=True)
len(data)

1722

In [69]:
print(np.float(np.sum(data['d_RoE_pos']))/len(data))
print(np.float(np.sum(data['d_Asset_turnover_pos']))/len(data))
print(np.float(np.sum(data['d_Financial_leverage_pos']))/len(data))
print(np.float(np.sum(data['d_Net_Profit_Margin_pos']))/len(data))

0.59756097561
0.552264808362
0.485481997677
0.505226480836

In [70]:
np.sum(data['fyear'].apply(pd.value_counts).fillna(0))

1994      6
1995     14
1996     28
1997     34
1998     50
1999     64
2000     79
2001     93
2002     93
2003     96
2004     91
2005     93
2006     93
2007     96
2008     92
2009    106
2010    107
2011    107
2012    105
2013    107
2014    106
2015     62
dtype: float64

In [56]:
np.sum(data['tic'].apply(pd.value_counts).fillna(0))

AA       15
APD      19
APFC     14
ASH      11
ATMR      5
AVD      14
AVY      17
BLL      18
BMS      18
BPMI      9
CAS      16
CDE      13
CLF      16
CMC      16
CSKEQ    15
DD       17
DOW      18
DTRX      9
ECL      17
FMC      14
FOE      14
FRD      18
FRK      14
GDRZF     3
GEF      17
GLT      16
GNI      18
GRA      16
HL       16
HMTC      7
HPC       9
HYDI      4
ICOC     15
MTRN     14
RFP       8
RYI       2
TRA       7
VKSC     11
dtype: float64